.event{
    border: 5px ridge grey;
    border-top-color:black;
    border-bottom-style:double;
    padding: 1.5em;
    margin-bottom:25px;
}

.event .image{
    width:500px;
    height:200px;
}

header{
    border-bottom: 2px solid red;
    padding-bottom:2.5em;
}

@font-face {
    font-family:"Huset";
    src: url("HUSET/Font/HUSET.woff");
}

.navlist{
    display:inline-block;
    font-family:"Huset";
    font-weight:normal;
    font-size:120%;
    font-style: normal;
    text-align:center;
    text-decoration:none;
    position:relative;
    top:18px;
    margin-right:.5em;
}

.menu{
    display:block;
    background-color:black;
}

.hidden{
    display:none;
}

body{
    background-color:#EFF6FE;
    padding: 1.5em;
}

.nav{
    height:60px;
    background-color:black;
    position:relative;
    top:1em;
    color:white;
    text-align:center;
}

aside ul{
    padding:1.5em;
}

aside ul a{
    font-family:Helvetica;
    text-decoration: none;
    color:white;
    font-size:20px;
}

h1{
    font-family:"Helvetica";
    font-size:40px;
    text-align:center;
}

h1.headline{
    font-family:"Huset";
    font-weight:normal;
    font-size:100px;
    font-style: normal;
    text-align:center;
    text-decoration:none;
}

h2{
    color:black;
    font-family:"Calibri";
    border-bottom:2px solid black;
}

h2 span{
    color:red;
}

p a{
    color:red;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

#logo{
    width:70%;
}

.loader{
    width:300px;
    transform:rotatez(90deg);
    margin-left:auto;
    margin-right:auto;
    animation: load 3s ease-out infinite;
}

@keyframes load{
    0% {transform: rotatez(90deg);}
    25% {transform: rotatex(-180deg);}
    50% {transform: rotatez(-90deg);}
    75% {transform: rotatey(-180deg);}
}


p{
    font-family:"Helvetica";
    font-size:20px;
}

@media only screen and (min-width: 44em) {

section{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:1.5m;
}

    .event{
    border: 5px ridge grey;
    border-top-color:black;
    border-bottom-style:double;
    padding: 1.5em;
    margin-bottom:25px;
    margin-right:20px;
}

nav li{
    display:inline-block;
    font-family:"Huset";
    font-weight:normal;
    font-size:35px;
    font-style: normal;
    text-align:center;
    text-decoration:none;
    position:relative;
    top:8px;
    margin-right:25px;
    margin-left:25px;
    }

    h1.headline{
    font-family:"Huset";
    font-weight:normal;
    font-size:150px;
    font-style: normal;
    text-align:center;
    text-decoration:none;
    }

}

@media only screen and (min-width: 72em) {

section{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    padding:2em;
}
    .event{
    border: 5px ridge grey;
    border-top-color:black;
    border-bottom-style:double;
    padding: 1.5em;
    margin-bottom:50px;
    margin-right:40px;

}

nav li{
    display:inline-block;
    font-family:"Huset";
    font-weight:normal;
    font-size:50px;
    font-style: normal;
    text-align:center;
    text-decoration:none;
    position:relative;
    top:4px;
    margin-right:80px;
    margin-left:20px;
    }

    #logo{
        width:50%;
    }

    }
